<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1></h1>
        <h1>Please log in to access the main page.</h1>
        <div class="login-btn">
            <a href="/login.html" class="btn btn-primary">Login</a>
        </div>
    </div>
</body>
</html>
